*{
    margin: 0;
    padding:0;
}

body{
    font-family:'Gabarito',sans-serif ;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title{
    color: #a435f0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;

}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: 1xp solid black;
    justify-content: space-around;

}

.categories p{
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;

}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 10px;
    
}

.recommended__container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 10px;
}

.course-card{
    width: 300px;
}

.course-card img{
    width: 100%!important;
    height: 150px!important;
object-fit: cover!important;
 display: block;
}

.topics{
    padding: 10px;

}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: 2px solid black;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;

}


.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.footer__one{
    display: flex;
    gap: 10px;

}

.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 20px;

    
}

.footer{
    padding: 30px;
    background-color:  black;
    color: white;
    width: 100%;
}

.footer__one p{
    margin-bottom: 30px;
    gap: 50px;
    display: flex;
}